<main>
  <section id="section-login">
    <h3>Login</h3>
    <form class="row g-3">
      <label for="staticSUser" class="visually-hidden">Usuário</label>
      <input
        type="text"
        class="form-control"
        id="staticUserl2"
        placeholder="digite seu usuário"
      />
      <label for="inputPassword2" class="visually-hidden">Senha</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword2"
        placeholder="digite sua senha"
      />
      <button type="submit" class="btn btn-primary mb-3">Login</button>
    </form>
  </section>
</main>
