.example-spacer {
  flex: 1 1 auto;
}
span {
  padding: 8px;
}
img {
  height: 60px;
  width: 60px;
}

p {
  margin: 0;
}

span a {
  text-decoration: none;
  color: #fff;
  border-bottom: 0px;
}
span a:hover {
  color: #cecece;
}
